version: '3'

services:
  neo4j:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: my_neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: neo4j/password
    volumes:
      - ./data:/data
      - ./logs:/logs